.article {
  display: grid;
  grid-gap: 22px;
  grid-template-areas:
    "a b"
    "c b"
    "d e";
}
.content {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  display: flex;
}
.img,
.text {
  width: 300px;
  height: 300px;
}
.img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.img:hover img {
  width: 100%;
}
.row {
  display: flex;
  flex-direction: column;
}
.content > .text {
  padding: 25px;
}
.text h2 {
  color: #009535;
}
.text p {
  color: #575757;
  line-height: 23px;
  font-size: 0.8rem;
}
.text .more {
  color: #9f9f9f;
  font-size: 0.7rem;
}
