.header {
  padding: 10px 40px;
  display: grid;
  grid-template-columns: 254px 1fr 10%;
}
.header .logo img {
  width: 254px;
  height: 45px;
}
.header .nav ul,
.header .lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
.header .nav li {
  padding: 0 13px;
  font-size: 15px;
}
.header .lang {
  font-size: 10px;
}
.header .lang > div:first-child {
  color: #38b068;
}
.header .lang > span {
  padding: 5px;
}
