.main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  padding: 0;
}
.main-nav li {
  display: flex;
  justify-content: center;
}
.main-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  border: 0.4px solid #aaaaaa;
  border-radius: 40px;
  background: #ffffff;
  color: #aaaaaa;
  font-size: 18px;
  padding: 0 60px;
  margin: 0 10px;
}
.main-nav a:hover {
  background: #009535;
  color: #f4f4f4;
}
.main-nav i {
  padding-right: 10px;
}
