@import url("https://fonts.googleapis.com/css?family=Dosis:800&display=swap");
@import "../css/header.css";
@import "../css/hero.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
li {
  list-style: none;
}
.wrapper {
  display: grid;
  grid-template-rows: auto 410px auto auto auto;
}
