@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding|Dosis:800&display=swap");
@import "../css/header.css";
@import "../css/hero.css";
@import "../css/main.css";
@import "../css/article.css";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic Coding", monospace;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
li {
  list-style: none;
}
.wrapper {
  display: grid;
  grid-template-rows: auto 65vh auto auto auto;
}
